*
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body
{
    background-color: #2a2e2f;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

h1
{
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	font-size: min(8vh, 8vw);
}

div.header
{
	background-color: #2ba1be;
	width: 100%;
	height: 30vh;
	margin-bottom: 10px;
}
